<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 시간대나 시각이 바뀌면 D-day 계산이 달라지므로 알림 대상을 바로 다시 확인한다(기획 §16.3). -->
        <receiver
            android:name=".TimeChangedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
